<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.spiderSchedule.mapper.SpiderRecordInfoMapper">
	<sql id="Static_Column_List">
		id, appid, sourceid, create_time, update_time
	</sql>
	
	<sql id="Joint_Column_List">
		r.id, r.appid, r.sourceid, r.create_time, r.update_time
	</sql>
	
	<sql id="Base_Column_List">
		id, appid, sourceid, title, url, type, storeid, create_time, update_time, modifykey, status
	</sql> 
	<select id="selectAll" resultType="com.netease.spiderSchedule.model.SpiderRecordInfo">
		select 
		<include refid="Static_Column_List" />
		from spider_record_info
		where update_time > DATE_SUB(now(),INTERVAL 7 DAY)
	</select>
	<select id="selectInterval" resultType="com.netease.spiderSchedule.model.SpiderRecordInfo">
		select 
		<include refid="Joint_Column_List" />
		from spider_record_info r, spider_source_info s 
		where to_days(now()) - to_days(date_format(r.create_time,"%Y-%m-%d")) &gt;= #{0,jdbcType=INTEGER}
		and to_days(now()) - to_days(date_format(r.create_time,"%Y-%m-%d")) &lt; #{1,jdbcType=INTEGER} 
		and s.sourceid = r.sourceid 
		and s.status = 0
		and s.appid !=1
	</select>
	<select id="selectJointInterval" resultType="com.netease.spiderSchedule.model.SpiderRecordInfo">
		select 
		<include refid="Joint_Column_List" />
		from spider_record_info r, spider_source_info s 
		where to_days(now()) - to_days(date_format(r.create_time,"%Y-%m-%d")) &gt;= #{0,jdbcType=INTEGER}
		and to_days(now()) - to_days(date_format(r.create_time,"%Y-%m-%d")) &lt; #{1,jdbcType=INTEGER} 
		and s.sourceid = r.sourceid
		and s.status = 0
		and s.appid !=1
	</select>
	<select id="selectIntervalDataBase" resultType="com.netease.spiderSchedule.model.SpiderRecordInfo" statementType="STATEMENT">
		select 
		<include refid="Joint_Column_List" />
		from ${param1} r, spider_source_info s 
		where to_days(now()) - to_days(date_format(r.update_time,"%Y-%m-%d")) &gt;= ${param2}
		and to_days(now()) - to_days(date_format(r.update_time,"%Y-%m-%d")) &lt; ${param3} 
		and s.sourceid = r.sourceid 
		and s.status = 0
		and s.appid !=1
	</select>
	
</mapper>